*{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Cuerpo{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://i.redd.it/bpxxqqvps4h91.gif);
}
.TopBar{
    background-color: black;
    height: 3.5em;
}
.ContentBar{
    color: white;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    padding-top: 0.6em;
}
.ContentBar p{
    font-size: 20px;
}
