@font-face {
    font-family: "Minecraft";
    src: url("/fonts/Minecraft.ttf");
}

*{
    font-family: "Minecraft";
    margin: 0;
}
.Cuerpo{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://i.redd.it/bpxxqqvps4h91.gif);
}
.TopBar{
    background-color: black;
    height: 3.5em;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ContentBar{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.ContentBar p{
    font-size: 20px;
    cursor: pointer;
}
.rightBar{
    display: flex;
    justify-content: space-evenly;
    padding-left: 2em;
    gap: 2em;
}
.rightBar i{
    scale: 1.5;
}
.MidCuerpo{
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MidContent{
    text-align: center;
    font-size: 50px;
}